* {
  --blue: #76cdf5;
  --darkgrey: #303030;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header */
header {
  display: flex;
  background-color: var(--darkgrey);
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  background-color: var(--blue);
  color: var(--darkgrey);
  font-size: 3rem;
  margin: 2rem;
  padding: 0.25rem 0.75rem;
}

nav a {
  color: var(--blue);
  border-bottom: var(--blue) 0.25rem solid;
  font-size: 1.25rem;
  width: 300%;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  
}

/* Image and Subtitle */




/* Sections and Footer */
