/* Global */
:root {
  --blue: #76cdf5;
  --darkblue: #183b6d;
  --darkgrey: #303030;
}

/* * {
  border: 1px red solid;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  background-color: var(--darkgrey);
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  background-color: var(--blue);
  color: var(--darkgrey);
  font-size: 3rem;
  margin: 0.75rem 1rem;
  padding: 0.25rem 0.75rem;
}

nav ul {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
}

nav a {
  color: var(--blue);
  border-bottom: var(--blue) 0.25rem solid;
  font-size: 1.25rem;
  padding: 0.5rem;
}

nav a:hover {
  color: white;
  border-bottom: white 0.25rem solid;
}

/* Image and Subtitle */
img {
  width: 100vw;
  height: 16rem;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: -2rem;
}

#subtitle {
  float: right;
  position: relative;
  top: -3rem;
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  color: var(--darkgrey);
  font-size: 2.5rem;
}

/* Sections */
section {
  display: flex;
  width: 100%;
  margin: 1.5rem;
  margin-left: 0;
}

section:nth-of-type(3) {
  margin-bottom: 0;
}

section h2 {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--darkblue);
  padding: 1rem;
  padding-top: 0;
  border-right: solid var(--darkblue) 0.25rem;
  flex: 0 0 8rem;
}

.content {
  width: calc(100% - 8rem);
  margin: 0 2rem;
}

/* Project Photos */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  width: calc(50% - 1rem);
  border: 0.5rem solid var(--blue);
  height: auto;
}

.project:nth-of-type(1) {
  width: 100%;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Tags on Projects */
.tag {
  display: none;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--darkblue);
}

/* Contact Me Section */
#contact-me ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact-me a {
  color: var(--darkblue);
  border-bottom: var(--darkblue) 0.25rem solid;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
}

/* Media Queries */
@media (max-width: 900px) {
  #contact-me ul {
    flex-direction: column;
  }

  #contact-me li {
    margin-bottom: 1.5rem;
  }

  .project {
    width: 100%;
  }
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
    padding-bottom: 2rem;
    height: auto;
  }

  h1 {
    align-self: flex-start;
  }

  nav {
    align-self: flex-end;
  }
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }

  section h2 {
    border-right: none;
    text-align: left;
    flex: 1 1 3rem;
    height: 1rem;
  }

  section h2::after {
    content: ' ';
    display: block;
    height: 4px;
    width: 95%;
    background: var(--darkblue);
  }

  .content {
    width: calc(100% - 4rem);
  }
}

/* @media (max-width: 500px) {

} */